.header {
  display: flex;
  justify-content: space-between;
  background: #905E96;
  color: white; }
  .header .span {
    cursor: pointer;
    padding: 10px; }
  .header button {
    background: #FF99D7;
    color: white;
    margin: 2px;
    border-radius: 20%; }

.menu {
  margin-left: -100%;
  background: #FF99D7;
  width: 100%;
  position: absolute;
  transition: 0.3s; }

.menu__item {
  padding: 10px 0 10px 0;
  border: 1px solid #905E96;
  list-style: none;
  text-align: center; }

.menu__item a {
  color: white;
  text-decoration: none;
  font-family: 'Alkalami', serif; }

.mostrar {
  margin-left: 0; }

@media (min-width: 991px) {
  body {
    margin: 0 10% 0 10%; }
  .span {
    display: none; }
  .menu {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    position: relative; }
  .menu__item {
    border: none;
    margin: 5px;
    padding: 0 10px 0 10px; } }

.main {
  background-image: url(../imagenes/bebe.jpg);
  background-size: cover;
  padding-top: 10%;
  text-align: center; }
  .main h2 {
    font-family: 'Alkalami', serif;
    font-size: 60px;
    line-height: 50px;
    font-weight: 60px;
    margin: 0 5% 0 5%; }
  .main p {
    margin: 0 5% 0 5%;
    font-weight: 60px;
    font-family: 'Inter Tight', sans-serif;
    line-height: 20px;
    padding-top: 5%; }

.aside {
  margin-top: 5%;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .aside div {
    height: 50px; }
  .aside a {
    color: grey;
    text-decoration: none;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bold;
    font-size: x-large; }
  .aside a:hover {
    opacity: 30%; }

@media (min-width: 991px) {
  body {
    margin: 0 10% 0 10%; }
  .span {
    display: none; }
  .menu {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    position: relative; }
  .menu__item {
    border: none;
    margin: 5px;
    padding: 0 10px 0 10px; }
  .article {
    display: grid;
    grid-template-areas: "uno tres" "dos cuatro"; }
    .article .article__uno {
      grid-area: uno; }
    .article .article__dos {
      grid-area: dos; }
    .article .article__tres {
      grid-area: tres; }
    .article .article__cuatro {
      grid-area: cuatro; } }

.article {
  font-size: 30px;
  text-align: center;
  margin-top: 5%; }
  .article a {
    text-decoration: none; }
  .article .article__uno {
    margin-bottom: 5%; }
  .article .article__dos {
    background-image: url(../imagenes/bebe.jpg);
    background-size: cover;
    height: 40vh; }
  .article .article__tres {
    margin-bottom: 5%; }
  .article .article__cuatro {
    background-image: url(../imagenes/nenesonriendo.png);
    background-size: cover;
    height: 40vh; }
  .article #map {
    height: 20vh;
    width: 20vh; }

#map {
  height: 40vh;
  width: 40vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
