.header {
  display: flex;
  justify-content: space-between;
  background: #905E96;
  color: white; }
  .header .span {
    cursor: pointer;
    padding: 10px; }
  .header button {
    background: #FF99D7;
    color: white;
    margin: 2px;
    border-radius: 20%; }

.menu {
  margin-left: -100%;
  background: #FF99D7;
  width: 30%;
  position: absolute;
  transition: 0.3s; }

.menu__item {
  list-style: none;
  text-align: center; }

.menu__item a {
  color: white;
  text-decoration: none;
  font-family: 'Alkalami', serif; }

.mostrar {
  margin-left: 0; }

@media (min-width: 1024px) {
  body {
    margin: 0 10% 0 10%; }
  .span {
    display: none; }
  .menu {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    position: relative; }
  .menu__item {
    margin: 5px;
    padding: 0 10px 0 10px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
