$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.article {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;

    a {
        text-decoration: none;
        color: $colorcuatro;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
        font-size: x-large;
    }

    .article__uno {
        margin-bottom: 5%;
    }

    .article__dos {
        background-image: url(../imagenes/nene.jpg);
        background-size: cover;
        height: 40vh;
    }

    .article__tres {
        margin-bottom: 5%;
    }

    .article__cuatro {
        background-image: url(../imagenes/nena.jpg);
        background-size: cover;
        height: 40vh;
    }
}
