$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.article {
    font-size: 30px;
    text-align: center;
    
    a {
        color: white;
        text-decoration: none;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
        font-size: x-large;
    }

    a:hover {
        opacity: 30%;
    }

    .article__uno {
        background: $colortres;
        border-bottom: 1px solid white;
    }

    .article__dos {
        height: 40vh;
        background-image: url(../imagenes/nene.jpg);
        background-size: cover;
    }

    .article__tres {
        background: $colortres;
        border-bottom: 1px solid white;
    }

    .article__cuatro {
        height: 40vh;
        background-image: url(../imagenes/nena.jpg);
        background-size: cover;
    }
}
