$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.aside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $coloruno;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 0 5px 0 5px;

    div {
        height: 50px;  
    }

    a {
        color: white;
        text-decoration: none;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
        font-size: x-large;
    }

    a:hover {
        opacity: 30%;
    }

}

