$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.aside {
    margin-top: 5%;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        height: 50px;  
    }

    a {
        color: grey;
        text-decoration: none;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
        font-size: x-large;
    }

    a:hover {
        opacity: 30%;
    }


}

