$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.header {
    display: flex;
    justify-content: space-between;
    background: $coloruno;
    color: white;

    .span {
        cursor: pointer;
        padding: 10px;
    }

    button {
        background: $colortres;
        color: white;
        margin: 2px;
        border-radius: 20%;
    }
}

.menu {
    margin-left: -100%;
    background: $colortres;
    width: 30%;
    position: absolute;
    transition: 0.3s;
}

.menu__item { 
    padding: 10px 0 10px 0; 
    border: 1px solid $coloruno; 
    list-style: none;
    text-align: center;
}

.menu__item a {
    color: white;
    text-decoration: none;
    font-family: 'Alkalami', serif;
}

.mostrar {
    margin-left: 0;
}

@media(min-width:1024px) {
    body {
        margin: 0 10% 0 10%;
    }

    .span {
        display: none;
    }

    .menu {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .menu__item {
        border: none;
        margin: 5px;
        padding: 0 10px 0 10px;
    }
}