$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.header {
    display: flex;
    justify-content: space-between;
    background: $coloruno;
    color: white;

    .span {
        cursor: pointer;
        padding: 10px;
    }

    button {
        background: $colortres;
        color: white;
        margin: 2px;
        padding: 0 2% 0 2%;
        border-radius: 1.36em;
    }
}

.menu {
    z-index: 1;
    margin-left: -100%;
    background: $colortres;
    width: 100%;
    position: absolute;
    transition: 0.3s;
}

.menu__item { 
    padding: 10px 0 10px 0; 
    border: 1px solid $coloruno; 
    list-style: none;
    text-align: center;
}

.menu__item a {
    color: white;
    text-decoration: none;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bold;
    font-size: x-large;
}

a:hover {
    opacity: 0.7;
}

.mostrar {
    margin-left: 0;
}

