$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.main {
    background-image: url(../imagenes/bebe-durmiendo.jpeg);
    background-size: cover;
    text-align: center;

    h2 {
        color: rgb(93, 93, 93);
        font-family: 'Alkalami', serif;
        font-size: 50px;
        line-height: 50px;
        font-weight: 60px;
        margin: 0 5% 0 5%;
    }

    p {
        color: rgb(93, 93, 93);
        margin: 0 5% 0 5%;
        font-weight: 60px;
        font-family: 'Alkalami', serif;
        line-height: 20px;
        padding-top: 5%;
    }
}