$coloruno: #905E96;
$colordos: #D58BDD;
$colortres: #FF99D7;
$colorcuatro: #FFD372;

.nosotros__h2 {
    color: $coloruno;
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
}

.nosotros__p {
    padding: 0 10% 0 10%;        
}