@media(min-width:991px) {
    body {
        margin: 0 10% 0 10%;
    }

    .span {
        display: none;
    }

    .menu {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 0;
        border: 0;
    }

    .menu__item {
        border: none;
        margin: 5px;
        padding: 0 10px 0 10px;
    }

    .main {
        background-image: url(../imagenes/bebe-durmiendo.jpeg);
        padding: 10%;
    }

    .aside {
        flex-direction: row;

        div {
            margin: 0;
        }
    }

    .article {
        display: grid;
        grid-template-areas: "uno tres"
            "dos cuatro";

        .article__uno {
            grid-area: uno;
        }

        .article__dos {
            grid-area: dos;
            margin-right: 2.5%;
        }

        .article__tres {
            grid-area: tres;
        }

        .article__cuatro {
            grid-area: cuatro;
            margin: 0;
            margin-left: 2.5%;
        }

    }

    .footer #map {
        border-radius: 100%;
    }

}